@primary-color: #ff6f61;
//字体颜色color
div{
  border:10px solid red;
}
body{
  background: red;
  height: 500px;
}
.bg-fff{
  background: #fff;
}
.font-pink {
  color: @primary-color;
}
.bg-ff6f61 {
  background-color: #ff6f61;
}
.bg-cb3968{
  background-color: #cb3968;
}
// layout
.flex {
  display: flex;
}

.flex-r {
  display: flex;
  flex-direction: row;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

// 字体省略
/* 多行文本超出部分省略号 */
.ellipsis-line(@line:2) {
  display: -webkit-box;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @line;
  overflow: hidden;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

.f3 {
  flex: 3;
}

.f4 {
  flex: 4;
}

.f5 {
  flex: 5;
}
.f6 {
  flex: 6;
}

.f7 {
  flex: 7;
}

.f8 {
  flex: 8;
}

.f9 {
  flex: 9;
}

.f10 {
  flex: 10;
}

// float
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  &:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

// font color
.font-fff {
  color: #ffffff;
}

.font-ccc {
  color: #ccc;
}

.font-ddd {
  color: #ddd;
}

.font-eee {
  color: #eee;
}

.font-999 {
  color: #999;
}

.font-666 {
  color: #666;
}
.font-222 {
  color: #222;
}
.font-333 {
  color: #333;
}

// text
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-strong {
  font-weight: bold;
}

.overflow-text {
  text-overflow:ellipsis;  //多出的替换成省略号
  white-space:nowrap;  //不换行
  overflow:hidden;
}

// font-size
.fs10 {
  font-size: 10px;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs15 {
  font-size: 15px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs22 {
  font-size: 22px;
}

.fs23 {
  font-size: 23px;
}

.fs24 {
  font-size: 24px;
}
.fs26 {
  font-size: 26px;
}

.fs28 {
  font-size: 28px;
}

.fs30 {
  font-size: 30px;
}

.fs32 {
  font-size: 32px;
}

.fs34 {
  font-size: 34px;
}

.fs35 {
  font-size: 35px;
}

.fs40 {
  font-size: 40px;
}
.fs44 {
  font-size: 44px;
}
.fs46 {
  font-size: 46px;
}

//padding
.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-20-10 {
  padding: 20px 10px;
}

.padding-10-20 {
  padding: 10px 20px;
}
.padding-38-20 {
  padding: 38px 20px;
}

.padding-10-15 {
  padding: 10px 15px;
}

.padding-10-0 {
  padding: 10px 0px;
}

.padding-20-0 {
   padding: 20px 0px;
 }
.padding-0-26 {
  padding: 0px 26px;
}
.padding-0-30 {
  padding: 0px 30px;
}
.padding-0-20 {
  padding: 0px 20px;
}
.padding-30-20 {
  padding: 30px 20px;
}
.padding-30-0 {
  padding: 30px 0px;
}
.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}
.pt12 {
  padding-top: 12px;
}
.pt16 {
  padding-top: 16px;
}
.pt20 {
  padding-top: 20px;
}

.pt22 {
  padding-top: 22px;
}

.pt24 {
  padding-top: 24px;
}
.pt26 {
  padding-top: 26px;
}
.pt28 {
  padding-top: 28px;
}

.pt30 {
  padding-top: 30px;
}
.pt34 {
  padding-top: 34px;
}
.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pt60 {
  padding-top: 60px;
}
.pt70 {
  padding-top: 70px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}
.pr16 {
  padding-right: 16px;
}

.pr20 {
  padding-right: 20px;
}

.pr22 {
  padding-right: 22px;
}

.pr24 {
  padding-right: 24px;
}
.pr26 {
  padding-right: 26px;
}
.pr28 {
  padding-right: 28px;
}

.pr30 {
  padding-right: 30px;
}

.pb10 {
  padding-bottom: 10px;
}
.pb12 {
  padding-bottom: 12px;
}
.pb4 {
  padding-bottom: 4px;
}
.pb16 {
  padding-bottom: 16px;
}
.pb18 {
  padding-bottom: 18px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb22 {
  padding-bottom: 22px;
}

.pb24 {
  padding-bottom: 24px;
}
.pb26 {
  padding-bottom: 26px;
}
.pb28 {
  padding-bottom: 28px;
}

.pb30 {
  padding-bottom: 30px;
}
.pb34 {
  padding-bottom: 34px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb60 {
  padding-bottom: 60px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}
.pl16{
  padding-left: 16px;
}
.pl20 {
  padding-left: 20px;
}

.pl22 {
  padding-left: 22px;
}

.pl24 {
  padding-left: 24px;
}
.pl26 {
  padding-left: 26px;
}

.pl28 {
  padding-left: 28px;
}

.pl30 {
  padding-left: 30px;
}
.pl36 {
  padding-left: 36px;
}
//margin
.margin-5-10 {
  margin: 5px 10px;
}

.mt0 {
  margin-top: 0;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}
.mt22 {
  margin-top: 22px;
}

.mt24 {
  margin-top: 24px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt44 {
  margin-top: 44px;
}

.mt50 {
  margin-top: 50px;
}
.mt70 {
  margin-top: 70px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}

.mb60 {
  margin-bottom: 60px;
}
.mb70 {
  margin-bottom: 70px;
}
.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}
.ml12 {
  margin-left: 12px;
}

.ml15 {
  margin-left: 15px;
}

.ml18 {
  margin-left: 18px;
}

.ml20 {
  margin-left: 20px;
}

.ml24 {
  margin-left: 24px;
}

.ml30 {
  margin-left: 30px;
}

.ml40 {
  margin-left: 40px;
}

.ml50 {
  margin-left: 50px;
}

.ml60 {
  margin-left: 60px;
}

.ml70 {
  margin-left: 70px;
}
.mr6 {
  margin-right: 6px;
}
.mr8 {
  margin-right: 8px;
}
.mr10 {
  margin-right: 10px;
}
.mr12 {
  margin-right: 12px;
}

.mr15 {
  margin-right: 15px;
}

.mr18 {
  margin-right: 18px;
}

.mr20 {
  margin-right: 20px;
}

.mr24 {
  margin-right: 24px;
}

.mr30 {
  margin-right: 30px;
}

.mr40 {
  margin-right: 40px;
}

.mr50 {
  margin-right: 50px;
}

.mr60 {
  margin-right: 60px;
}

.mr70 {
  margin-right: 70px;
}
.mr90 {
  margin-right: 90px;
}
// function
.radius-maker(@radius) { //制造一个圆
  width: @radius;
  height: @radius;
  border-radius: @radius/2;
}

